// UIKIT RESET
a {
  text-decoration: none !important;
}

// PHOTOGRAPHY
.work-photography__showcase-grid {
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;

  .showcase-item__wrapper {
    overflow: hidden;
    position: relative;

    .work-photography__showcase-item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
      }
    }

    .showcase-item__description {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 10;
      width: 100%;
      height: 12%;
      background-color: rgba(#ffe600, 0.92);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      transition: $default-speed;
      &:hover {
        height: 16%;
      }
    }
  }
}
// .work-photography {
//   overflow: hidden;
// }

// .uk-slider-container {
//   overflow: initial !important;
// }

// .slider-wrapper {
//   a:hover {
//     transform: none !important;
//   }

//   .slider-arrow__left-container {
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .slider-arrow__right-container {
//     height: 100%;
//     position: absolute;
//     top: 0;
//     right: -5%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .slider-arrow__left-container a,
//   .slider-arrow__right-container a {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background: $secondary-color;
//     border-radius: $default-radius;
//     width: 54px;
//     height: 54px;
//     transition: $default-speed;
//     &:hover {
//       opacity: 0.8;
//     }
//   }

//   .uk-slider-items {
//     position: relative;
//     display: flex !important;
//     gap: 1rem !important;

//     li {
//       width: 50%;
//       max-height: 560px;
//       overflow: hidden !important;
//       position: relative;
//       border-radius: 0.3rem;

//       a {
//         &:hover {
//           img {
//             transform: scale(1.2);
//           }
//         }
//       }

//       img {
//         transition: 0.8s;
//       }

//       .slider-description {
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//         text-align: center;
//         padding: 2rem 0;
//         background: rgba($color: #2e2e2e, $alpha: 0.9);

//         a {
//           color: #ffe600 !important;
//           transition: 0.4s;

//           &:hover {
//             text-decoration: none;

//             i {
//               margin-left: 1.5rem;
//             }
//           }
//         }

//         i {
//           color: #ffe600 !important;
//           font-size: 1.4rem;
//           position: absolute;
//           top: 33%;
//           margin-left: 0.5rem;
//           transition: 0.6s;
//         }
//       }
//     }
//   }
// }

// FILMMAKING
.work-filmmaking {
  margin-bottom: 12rem;

  .video-showcase-wrapper {
    position: relative;

    .video-showcase-description {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(#ffe600, 0.92);
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transform: none !important;
        height: 120px;
      }
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 10rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// RESPONSIVE
@media screen and (max-width: 767px) {
  .work-photography__showcase-grid {
    grid-template-columns: repeat(1, auto) !important;
  }
}
